/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}

.close, .close-edit {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus, .close-edit:hover, .close-edit:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .modal-content {
        width: 95%;
    }
}

/* Table styles */
.trip-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1em;
}

.trip-table th, .trip-table td {
    border: 1px solid #ddd;
    padding: 0.5em;
    text-align: left;
}

.trip-table th {
    background-color: #f2f2f2;
}

.trip-row .edit-form-row {
    width: 100%;
}

/* Container and heading styles */
.tcc-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 1em;
}

.tcc-heading {
    text-align: center;
}

/* Button styles */
.add-trip-btn, .edit-trip-btn {
    display: block;
    margin: 1em 0;
    padding: 0.5em 1em;
    font-size: 1em;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-expense-btn-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.add-expense-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-expense-btn:hover {
    background-color: #0056b3;
}

/* Expense detail modal */
#expense-detail-modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

#expense-detail-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 600px;
    text-align: center;
}

#expense-detail-content input[type="submit"] {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
